{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "eqeqeq": "off",
    "quotes": ["error", "double"],
    "no-eval": "error",
    "indent": ["error", 2]
  }
}
