@import url("https://cdnjs.cloudflare.com/ajax/libs/inter-ui/3.18.0/inter.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-gradient {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

@layer base {
  .text-blurple {
    @apply from-purple to-blue;
  }
}

h1,
h2,
h3,
h4,
p {
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
p.bold {
  font-weight: 700;
}

:root {
  font-size: 15px;

  --color-button-text: #fff;
  --color-primary-100: #f0f2f5;
  --color-primary-200: #dee3ea;
  --color-primary-300: #9ca3af;
  --color-primary-400: #6b7280;
  --color-primary-500: #404f64;
  --color-primary-600: #323d4d;
  --color-primary-700: #242c37;
  --color-primary-800: #151a21;
  --color-primary-900: #0b0e11;
  --color-accent: #0085ff;
  --color-accent-hover: #0081f6;
  --color-accent-disabled: #f5bfbf;
  --color-secondary-100: #c645bb;
  --color-secondary-200: #9936e8;
  --color-secondary-300: #6222d8;
  --color-secondary-100-hover: #cc59c2;
  --color-secondary-200-hover: #a54deb;
  --color-secondary-ring: #d880d0;
  --color-green-100: #00ba34;
  --color-green-200: #00952a;
  --color-green-300: #00701e;
  --color-green-400: #004a15;
  --color-red-100: #e92c2c;
  --color-red-200: #bb2224;
  --color-red-300: #8c1913;
  --color-red-400: #5d1111;
  --screen-height-reduction: 0px;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
  font-weight: 500;
}

p.small {
  font-size: 0.85rem;
}

/* for firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary-200) rgba(0, 0, 0, 0);
}

/* for non-firefox */
::-webkit-scrollbar {
  overflow: overlay;
  width: 8px;
  /* shouldnt hardcode width, pls find way to make it dynamic, thin wasn't working for me...*/
}

::-webkit-scrollbar-track {
  display: initial;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-100);
  border-radius: 5px;
}

html,
body,
#__next {
  background-color: var(--color-primary);
  height: 100%;
  width: 100%;
  display: flex;
}

html {
  position: fixed;
}

#__next {
  overflow-y: auto;
}

textarea {
  resize: none;
}

.h-screen {
  height: calc(100vh - var(--screen-height-reduction));
}

button:focus {
  outline: none;
}
